lab3/nodered/flows.json
[
  {
    "id": "f0b2f2a1f44f2a01",
    "type": "tab",
    "label": "Fog Gateway - Filter Alerts",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b8c0c7c9e8b6f5a2",
    "type": "mqtt-broker",
    "name": "edge-mqtt",
    "broker": "edge-mqtt",
    "port": "1883",
    "clientid": "nodered-edge-sub",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "2a8c4c0a06c1bb31",
    "type": "mqtt-broker",
    "name": "cloud-mqtt",
    "broker": "cloud-mqtt",
    "port": "1883",
    "clientid": "nodered-cloud-pub",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "b1b2f4e2a9ddf244",
    "type": "mqtt in",
    "z": "f0b2f2a1f44f2a01",
    "name": "From Edge: factory/temperature",
    "topic": "factory/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "b8c0c7c9e8b6f5a2",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 230,
    "y": 160,
    "wires": [
      [
        "7a07b9a9b8a6bbd4"
      ]
    ]
  },
  {
    "id": "7a07b9a9b8a6bbd4",
    "type": "json",
    "z": "f0b2f2a1f44f2a01",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 450,
    "y": 160,
    "wires": [
      [
        "ea65b5d28a4b2b54"
      ]
    ]
  },
  {
    "id": "ea65b5d28a4b2b54",
    "type": "switch",
    "z": "f0b2f2a1f44f2a01",
    "name": "temperature > 80 ?",
    "property": "payload.temperature",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "80",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 670,
    "y": 160,
    "wires": [
      [
        "0a7e9ad9f52d0e8a"
      ],
      [
        "d3c7607c4d15c07d"
      ]
    ]
  },
  {
    "id": "0a7e9ad9f52d0e8a",
    "type": "change",
    "z": "f0b2f2a1f44f2a01",
    "name": "Set alert topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "factory/alerts",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 890,
    "y": 120,
    "wires": [
      [
        "b4652c2a0b5a0d7d",
        "0b02e660f7c79f31"
      ]
    ]
  },
  {
    "id": "b4652c2a0b5a0d7d",
    "type": "json",
    "z": "f0b2f2a1f44f2a01",
    "name": "Stringify JSON",
    "property": "payload",
    "action": "str",
    "pretty": false,
    "x": 1110,
    "y": 120,
    "wires": [
      [
        "3b3d7fd78c2e6d5a"
      ]
    ]
  },
  {
    "id": "3b3d7fd78c2e6d5a",
    "type": "mqtt out",
    "z": "f0b2f2a1f44f2a01",
    "name": "To Cloud: factory/alerts",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "2a8c4c0a06c1bb31",
    "x": 1330,
    "y": 120,
    "wires": []
  },
  {
    "id": "0b02e660f7c79f31",
    "type": "debug",
    "z": "f0b2f2a1f44f2a01",
    "name": "ALERT (forwarded)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1120,
    "y": 80,
    "wires": []
  },
  {
    "id": "d3c7607c4d15c07d",
    "type": "debug",
    "z": "f0b2f2a1f44f2a01",
    "name": "NORMAL (filtered locally)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 200,
    "wires": []
  }
]

